bomdy{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

/* give navbar styling */

.myspace{
    border-bottom: solid 0.2rem #141414;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    
    animation: gradient-animation 18s ease infinite;
}

.mybrand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 1%;
}

.main-nav{
    padding-left: 62%;
    font-weight: bold;
}

/* jumbotron */

.jumbotron{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172) ;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

/* styling work section header*/

.work-header > h3{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align:center;
}

/* styling main project */

.main-project{
   
}

.page-sections{
    padding-left: 1%;
    padding-top:2%
}

/* styling skills section */
.card-header > h4{
    text-align: center;
}


/* Give the profile picture a round shape */
.text-white img{
    border-radius: 50%;
}

/* justify project card  */
.justify-card{
    display: flex;
    justify-content: center;
}

/* increase the width of main project card */
.main-project-card{
    width: 33rem !important;
    
}

footer{
    padding-top: 2%;
}

.skills-card
{style="height: 30%;  overflow-y:scroll; border: solid 0.002em black; border-radius:2%"}
