
/* Give the profile picture a round shape */
.text-white img{
    border-radius: 50%;
}

/* justify project card  */
.justify-card{
    display: flex;
    justify-content: center;
}

/* increase the width of main project card */
.main-project-card{
    width: 33rem !important;
    
}

style="height: 30%;  overflow-y:scroll; border: solid 0.002em black; border-radius:2%"
